@using Kendo.Mvc.UI;
@model Tool_Management.Service.ViewModels.InFormViewModel
@{
    ViewBag.Title = "刀具入庫";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <div class="block">
        <div class="title">刀具入庫</div>
    </div>
    <p>&nbsp;</p>
    <hr>
    <p>&nbsp;</p>
    <div class="container-fluid">

 @using (Html.BeginForm("KnifeInformSave", "Knife", FormMethod.Post, new { id = "editForm", @class = "form-horizontal", enctype = "multipart/form-data" }))
 {
            @Html.AntiForgeryToken()

            <div class="block">
                <div class="row">
                    @Html.LabelFor(m => m.InForm_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.InForm_ID, new { @class = "form-control", @readonly = "readonly" })
                        <p class="help-block">
                        </p>
                    </div>

                </div>

                <div class="row">
                    @Html.LabelFor(m => m.In_DT, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.In_DT, new { @class = "form-control", @readonly = "readonly" })
                        <p class="help-block">
                        </p>
                    </div>

                </div>

                <div class="row">
                    @Html.LabelFor(m => m.In_EmpID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.In_EmpID, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.In_EmpID), @Value = ViewData["In_EmpID"] })
                        <p class="help-block">
                        </p>
                    </div>

                </div>

                <div class="row">
                    @Html.LabelFor(m => m.Confirm_EmpID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.Confirm_EmpID, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Confirm_EmpID), @Value = ViewData["Confirm_EmpID"] })
                        <p class="help-block">
                        </p>
                    </div>

                </div>
            </div>


            <p>&nbsp;</p>
            <hr>
            <p>&nbsp;</p>
            <div class="block">
                <div class="sub_tit">                    
                </div>
                <p>&nbsp;</p>
                <section class="section-grid">
                    @(Html.Kendo().Grid<Tool_Management.Service.ViewModels.KnifeInFormViewModel>()
  .Name("grid")
  .Columns(columns =>
  {
      columns.Bound(c => c.Master_ID)
      //.Format("{0:yyyy/MM/dd HH:mm:ss}")
      .HtmlAttributes(new { @class = "gridCell-center" }).Width(150);
      columns.Bound(c => c.Knife_Name)
      .HtmlAttributes(new { @class = "gridCell-center" }).Width(100);
      columns.Bound(c => c.Unit)
      .HtmlAttributes(new { @class = "gridCell-center" }).Width(100);
      columns.Bound(c => c.InForm_Quality)
  .HtmlAttributes(new { @class = "gridCell-center" }).Width(100);
      columns.Command(command =>
      {
          command.Destroy().Text("刪除");
      }).Title("功能").Width(250);
  })
  .ToolBar(toolbar => toolbar.Create().Text("新增"))
  .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("SectionTemplate")
      .Window(w =>
      {
          w.Title("刀具入庫");
          w.Events(e => { e.Activate("onDeactivate"); });
      })
    )  
  .Resizable(r => r.Columns(true))
  .Scrollable(scrollable => scrollable.Height("auto"))  
  .Sortable()
  .NoRecords("查無資料")
  .Pageable(
      pageable => pageable.Refresh(true)
      .PageSizes(new[] { 10 })
      .Messages(m =>
      {
          m.Empty("查無資料");
          m.ItemsPerPage("每頁筆數");
          m.Display("{0} - {1} 共 {2} 筆");
      })
  )
  .DataSource(dataSource => dataSource
      .Ajax()
      .Sort(s => { s.Add(o => o.Master_ID).Descending(); })
      .Events(events => events.Error("error_handler"))
      .Model(model => { model.Id(p => p.Master_ID); })
      .Read(read => read.Action("KnifeInformGridSearch", "Knife").Data("{ InForm_ID: " + @Model.InForm_ID + "}"))
      .Create(update => update.Action("KnifeInform_Create", "Knife"))
      //.Update(update => update.Action("KnifeInform_Update", "Knife"))
      .Destroy(update => update.Action("KnifeInform_Delete", "Knife"))
  .PageSize(10)
  )
                    )

                </section>


 
            </div>
       
   
    <br />
 }
    <div class="container-button">&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-primary" id="btnSave" data-loading-text="存檔">存檔</button>
    </div>
</div>

<script type="text/javascript">

    function onDeactivate(e) {

        $("#Unit").hide();
        $("#Knife_Name").hide();
        $("label[for='Unit']").hide();
        $("label[for='Knife_Name']").hide();
        param = $("#InForm_ID").val() + ";" + $("#In_DT").val() + ";" + $("#In_EmpID").val() + ";" + $("#Confirm_EmpID").val();
        $("#Knife_Name").val(param).trigger("change");        
        //alert($("#Knife_Name").val());
        
       

        $(".k-grid-update")[0].innerHTML = "確認";
        $(".k-grid-cancel")[0].innerHTML = "取消";

        $(".k-window #DetailID_Status").kendoDropDownList({
            dataTextField: "Text",
            dataValueField: "Value",
            dataSource: {
                transport: {
                    read: {
                        url: "@Url.Action("GetKnifeStatusItems", "Knife")",
                }
            }
        }
        });

    }


</script>

<script type="text/javascript">
    function error_handler(e) {
        debugger;
        if (e.errors) {
            var message = "";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            location.reload();
            alert(message);
        }
        $("#grid").data("kendoGrid").dataSource.read();
        return;
    }
</script>

<script>


    $(function () {

        $("#btnSave").click(function (e) {
            e.preventDefault();
            //debugger;
            console.log('Send it!');
            debugger;

            var postData = $("#editForm").serialize();
            //$this.button('loading');

            $.post('@(Url.Action("KnifeInformSave", "Knife"))', postData, function (data) {

                //if (data.Status == 'ok') {
                if (data.Result == true) {
                    alert('入庫單' + $('#InForm_ID').val() + '作業成功');
                }
                else {
                    alert('入庫單' + $('#InForm_ID').val() + '作業失敗:' + data.ErrMsg);
                }
                location.reload();
            })
            .fail(function (jqXHR, textStatus) {
                if (jqXHR.status == 401) {
                    alert("Unauthorized: " + jqXHR.status);
                }
                else {
                    alert("Request failed: " + textStatus);
                }
                $this.button('reset');
            });
        });
    });
</script>
